.info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.info > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  max-width: calc(50% - 10px);
  margin: 5px;
  animation: pop 0.5s ease forwards;
}

@keyframes pop {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

img {
  height: 100px;
  width: 100px;
}

.data {
  margin: 0px;
  text-align: left;
}

.status > * {
  margin: 0px;
}

@media (max-width: 768px) {
  .info {
    flex-direction: row-reverse;
  }
  .data > p {
    margin: 0px;
  }
}

/* forecast */

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  width: 100%;
}
.column {
  margin: 5px;
  flex: 0 0 calc(18% - 10px);
  max-width: calc(25% - 10px);
  margin: 5px;
  padding: 0 4px;
  background-color: rgba(255, 255, 255, 0.151);
  border: solid 1px white;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  animation: pop 0.5s ease forwards;
}
.dayTitle {
  margin: 0;
  font-size: 1em;
  font-weight: bold;
}

@media (max-width: 768px) {
  .info > div {
    width: 100%;
    max-width: 100%;
  }
  .column {
    flex: 0 0 calc(33.33% - 10px);
    max-width: calc(33.33% - 10px);
  }
}

@media (max-width: 600px) {
  .column {
    flex: 0 0 calc(50% - 10px);
    max-width: calc(50% - 10px);
  }
}
