body {
  margin: 24px;
  padding: 0;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  margin: 50px;
  padding: 50px;
  width: 90%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.151);

  border: solid 1px white;
  border-radius: 20px;
  backdrop-filter: blur(20px);
}

.custom-input {
  width: 300px;
  height: 25px;
  background-color: transparent;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  padding-left: 10px;
}

.custom-input::placeholder {
  color: rgb(0, 0, 0);
}
@media (max-width: 768px) {
  .glass {
    margin: 10px;
    padding: 50px 20px;
    width: 84%;
  }
  .custom-input {
    width: 250px;
  }
}
