body {
  margin: 0;
  padding: 0;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  transition: margin 0.3s ease;
}

.glass {
  margin: 50px;
  padding: 50px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.151);
  border: solid 1px white;
  border-radius: 20px;
  max-width: 90%;
  backdrop-filter: blur(20px);
  animation: pop 0.5s ease forwards;
}

@keyframes pop {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.custom-input {
  width: 300px;
  height: 25px;
  background-color: transparent;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  padding-left: 10px;
}

.custom-input::placeholder {
  color: rgb(0, 0, 0);
}

@media (max-width: 768px) {
  body {
    margin: 10px;
  }
  .glass {
    margin: 10px;
    padding: 50px 20px;
    width: 84%;
  }
  .custom-input {
    width: 250px;
  }
}
