#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
  color: black;
}

.glass {
  margin: 50px;
  padding: 50px;
  width: 90%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.151);

  border: solid 1px white;
  border-radius: 20px;
  backdrop-filter: blur(20px);
}

.custom-input {
  width: 200px; /* Adjust width as needed */
  height: 20px; /* Adjust height as needed */
  background-color: transparent;
  color: black; /* Text color */
  border: 1px solid black; /* Border color */
  border-radius: 5px; /* Rounded corners */
  padding-left: 10px; /* Left padding */
}
.custom-input::placeholder {
  color: rgb(0, 0, 0); /* Placeholder color */
}
